<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>FishServlet</servlet-name>
		<display-name>FishServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.FishServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccessoriesServlet</servlet-name>
		<display-name>AccessoriesServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.AccessoriesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFishOrderServlet</servlet-name>
		<display-name>AddFishOrderServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.AddFishOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddAccessoriesOrderServlet</servlet-name>
		<display-name>AddAccessoriesOrderServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.AddAccessoriesOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<display-name>CartServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.CartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCartServlet</servlet-name>
		<display-name>DeleteCartServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckoutServlet</servlet-name>
		<display-name>CheckoutServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.CheckoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartAccessoryServlet</servlet-name>
		<display-name>CartAccessoryServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.CartAccessoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteAccessoriesCartServlet</servlet-name>
		<display-name>DeleteAccessoriesCartServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteAccessoriesCartServlet</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>FishServlet</servlet-name>
		<url-pattern>/FishServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessoriesServlet</servlet-name>
		<url-pattern>/AccessoriesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFishOrderServlet</servlet-name>
		<url-pattern>/AddFishOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAccessoriesOrderServlet</servlet-name>
		<url-pattern>/AddAccessoriesOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/CartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCartServlet</servlet-name>
		<url-pattern>/DeleteCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/CheckoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartAccessoryServlet</servlet-name>
		<url-pattern>/CartAccessoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAccessoriesCartServlet</servlet-name>
		<url-pattern>/DeleteAccessoriesCartServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
